<ion-header>
  <ion-navbar>
    <ion-title>
      About
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
Hello World
{{message}}
<button ion-button block (click)="presentAlert()">
    Show Action Sheet
  </button>
</ion-content>
